$orange: #F18345;
$green: #ACCC02;
$blue: #263449;

html, body {
    width: 100vw;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
body {
    position:relative;
}
.bg-blue {
    background-color: $blue;
}
.bg-orange {
    background-color: $orange;
}
.bg-green {
    background-color: $green;
}
.text-color-orange {
    color: $orange;
}
.text-color-green {
    color: $green;
}
.text-color-blue{
    color: $blue;
}
@import 'partials/typography';
.btn {
    border-radius: 8px;
    padding: .375rem 2.5rem;
}
.btn-primary {
    background-color: $green;
    color: white;
    font-weight: 200;
    border: $green;
    font: 'Montserrat', sans-serif;
    font-size: 16px;
    &:hover {
        background-color: $green;
        border: $green;
    }
}
canvas {
    width: 100%;
}
.clip-path {
    position: absolute;
    top: 0;

}
nav{
    .navbar-toggler{
        color: #fff !important;
        border: none;
        
    }
    .navbar-nav{
        border-bottom: 1.9px solid $blue;
    }
    .nav-item{
        max-width: 128px;
        padding-right: 20px;
        padding-bottom: 20px;
        &:last-child {
            padding-right: 0;
        }
        .nav-link {
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: center;
            text-transform: uppercase;
        }
    }
}
.hero {
    &:before{
        content:'';
        position: absolute;
        top: 0;
        right: 0;
        height: 810px;
        width: 530px;
        background-image: url("../images/hero-blob.svg");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
    }
    &:after {
        content:'';
        position: absolute;
        top: 20px;
        right: -237px;
        height: 700px;
        width: 900px;
        background-image: url("../images/canned-beans.png");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
    }
    .plated-beans {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: -20px;
            left: -15px;
            height: 500px;
            width: 500px;
            background-image: url("../images/plated-beans.png");
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
        }
    }
    .edge-image {
        position: absolute;
        top: 20px;
        right: -200px;
        z-index: -1;
    }
    .left-edge-image {
        position: absolute;
        left: 0;
    }
    ul{
        li {
            margin-bottom: 10px;
        }
    }
}
.health-nutrition {
    position: relative;
    &:after {
        content: '';
            position: absolute;
            top: -100px;
            right: 0;
            height: 1072px;
            width: 681px;
            background-image: url("../images/health-blob.svg");
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
    }
    .health-nutrition-slogan{

    }
}
div.call-to-action{
    background-image: url("../images/cta-background@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.data-label {
    margin-right: 30px;
    .data{
        height: 23px;
        width: 23px;
        border-radius: 50%;
        margin-right: 10px;
    }
}
.supporting-research{
    &.blue-blob {
        position: relative;
        background-image: url("../images/blue-blob.svg");
        background-repeat: no-repeat;
        background-size: inherit;
    }
    ol {
        line-height: 23px;
        li{
            list-style-position: inside;
            margin-bottom: 15px;
        }
    }
}
.plant-based {
    position: relative;
    &.plant-clip {
        clip-path: inset(0 0 0 0 round 0 300px 0 0);
    }
}
.display-image {
    position: absolute;
    margin-top: -420px;
    height: 500px;
    width: 700px;
    background-image: url("../images/plant-based.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.facts {
    .fact {
        .fact-caption{
            padding-left: 20px;
            padding-right: 20px;
        }
        &:after{
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 1px;
            height: 336px;
            background-color: $green;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}
.versatility {
    position: relative;
    &:before {
        content: '';
        width: 435px;
        height: 1100px;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url("../images/versatility-image.png");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: cover;
    }
}
.recipes {
    position: relative;
    background-image: url("../images/orange-blob.svg");
    background-position-x: -30px;
    background-position-y: -340px;
    background-repeat: no-repeat;
    background-size: inherit;
    .recipe-image {
        margin-top: -70px;
        margin-right: -80px;
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background-image: url("../images/white-recipe-block.svg");
        height: 400px;
        width: 367px;
    }
}
.pt-80 {
    padding-top: 80px;
}
.pt-120 {
    padding-top: 120px;
}
.pb-160 {
    padding-bottom: 160px;
}
.pr-10 {
    padding-right: 200px;
}
.pr-12 {
    padding-right: 240px;
}
.button-group {
    a {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.citations {
    font-size: 12px;
    line-height: 14px;
    background-color: white;
    li{
        margin-bottom: 10px;
    }
}
.footer-logo {
    position: relative;
    &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: $green;
        top: 50%;
        transform: translateY(-50%);
        width: 60%;
    }
    &:before{
        left: -25%;
    }
    &:after {
        right: -25%;
    }
}

@media only screen and (min-width: 2000px) {
    .recipes {
        background-position-y: -1256px;
        background-size: cover;
        &:before {
            width: 40%;
        }
    }
    .supporting-research{
        &.blue-blob {
            background-size: cover;
        }
    }
    .footer {
        padding-top: 120px;
        .footer-logo {
            position: relative;
            &:before, &:after {
                content: '';
                position: absolute;
                height: 2px;
                background-color: $green;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
            }
            &:before{
                left: -75%;
            }
            &:after {
                right: -75%;
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    .hero {
        &:before{
            // top: 0px;
            // right: 0;
            // height: 700px;
            // width: 400px;
        }
        &:after {
            // right: -300px;
            // height: 600px;
            // width: 800px;
        }
        .plated-beans {
            position: relative;
            .container {
                padding-top: 0 !important;
                .row{
                    padding-top: 0 !important;
                    .col-md-6 {
                        padding: 0 !important;
                    }
                    .col-lg-6.offset-lg-5 {
                        padding-top: 30px
                    }
                }
            }
            &:after {
                bottom: -20px;
                left: -15px;
                height: 450px;
                width: 550px;
            }
        }
    }
    .health-nutrition {
        position: relative;
        .container {
            padding-bottom: 0 !important;
        }
        &:after {
            // content: '';
            // top: -100px;
            // right: 0;
            // height: 720px;
            // width: 360px;
        }
        p.consumers {
            margin-bottom: 20px !important;
        }
    }
    .plant-based {
        position: relative;
        &.plant-clip {
            clip-path: inset(0 0 0 0 round 0 128px 0 0);
        }
        .plant-based-slogan{
            padding-top: 10px !important;
            padding-bottom: 40px !important;
        }
    }
    .display-image {
        margin-top: -200px;
        height: 300px;
        width: 350px;
    }
    .versatility {
        .versatility-slogan {
            padding-top: 40px;
        }
        &:before {
            width: 360px;
            // height: 1100px;
            // position: absolute;
            // top: 0;
            // right: 0;
        }
        p.consumer {
            margin-bottom: 20px !important;
        }
        img.versatility-graph {
            height: 400px;
        }
    }
    .fun-facts {
        padding-top: 0 !important;
        .facts {
            .fact {
                margin-bottom: 20px;
                .fact-caption{
                    padding-left: 0px;
                    padding-right: 0px;
                }
                &:after{
                    display: none;
                }
            }
        }
    }
    .recipes {
        background-position-y: -420px;
        .container {
            .row {
                .col-md-9{
                    z-index: 2;
                }
                .col-md-8{
                    position: absolute;
                    top: -40px;
                    right: -200px;
                    z-index: 1;
                }
            }
        }
        .recipe-image {
            margin-top: -20px;
            margin-right: 0px;
            width: 700px;
        }
        &:before{
            display: none;
        }
    }
    .infographics-facts {
        position: relative;
        .container {
            padding-top: 0 !important;
            .row {
                div:nth-child(1) {
                    -webkit-box-ordinal-group: 14;
                    -ms-flex-order: 13;
                    order: 13;
                }
                .col-md-8{
                    z-index: 2;
                }
                .col-md-7{
                    position: absolute;
                    top: 10%;
                    right: -70px;
                    z-index: 1;
                }
            }
        }
    }
    .supporting-research{
        padding-bottom: 0 !important;
        .container {
            .row {
                .col-md-8{
                    z-index: 2;
                }
                .col-md-7{
                    position: absolute;
                    top: 10%;
                    right: -70px;
                    z-index: 1;
                }
            }
        }
        h2{
            margin-top: 60px;
        }
        .supporting-research-slogan {
            padding-top: 20px !important;
        }
    }
    .sub-footer{
        .citations {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
    .footer-logo {
        position: relative;
        &:before, &:after {
            width: 50%;
        }
    }
}
@media only screen and (max-width: 768px) {
    // .button-group {
    //     a {
    //         width: 200px;
    //         margin-bottom: 10px;
    //         &:last-child {
    //             margin-right: 0;
    //             margin-bottom: 0;
    //         }
    //     }
    // }
    .hero {
        &:before{
            top: 0px;
            right: 0;
            height: 700px;
            width: 400px;
        }
        &:after {
            right: -300px;
            height: 600px;
            width: 800px;
        }
        .plated-beans {
            position: relative;
            .container {
                padding-top: 0 !important;
                .row{
                    padding-top: 0 !important;
                    .col-md-6 {
                        padding: 0 !important;
                    }    
                }
            }
            &:after {
                bottom: -20px;
                left: -15px;
                height: 250px;
                width: 350px;
            }
        }
    }
    .health-nutrition {
        position: relative;
        .container {
            padding-bottom: 0 !important;
        }
        &:after {
            content: '';
                top: -100px;
                right: 0;
                height: 720px;
                width: 360px;
        }
        p.consumers {
            margin-bottom: 20px !important;
        }
        .health-nutrition-graph {
            height: auto;
            width: 80%;
        }
    }
    .plant-based {
        position: relative;
        &.plant-clip {
            clip-path: inset(0 0 0 0 round 0 128px 0 0);
        }
        .plant-based-slogan{
            padding-top: 10px !important;
            padding-bottom: 40px !important;
        }
        p.title.pt-120 {
            padding-top: 40px !important;
        }
        .plant-based-graph {
            padding-top: 20px;
            width: 80%;
            height: auto;
            margin-left: 0 !important;
        }
    }
    .display-image {
        display: none;
    }
    .versatility {
        .versatility-slogan {
            padding-top: 40px;
        }
        &:before {
            width: 256px;
            height: 1100px;
            position: absolute;
            top: 0;
            right: 0;
        }
        p.consumer {
            margin-bottom: 20px !important;
        }
        img.versatility-graph {
            height: 300px;
        }
    }
    .fun-facts {
        padding-top: 0 !important;
        .facts {
            .fact {
                margin-bottom: 20px;
                .fact-caption{
                    padding-left: 0px;
                    padding-right: 0px;
                }
                &:after{
                    display: none;
                }
            }
        }
    }
    .recipes {
        .container {
            .row {
                .col-md-9{
                    z-index: 2;
                }
                .col-md-8{
                    position: absolute;
                    top: -30px;
                    right: -200px;
                    z-index: 1;
                }
            }
        }
        .recipe-image {
            margin-top: -20px;
            margin-right: 0px;
            width: 700px;
        }
        &:before{
            display: none;
        }
    }
    .infographics-facts {
        position: relative;
        .container {
            padding-top: 0 !important;
            .row {
                div:nth-child(1) {
                    -webkit-box-ordinal-group: 14;
                    -ms-flex-order: 13;
                    order: 13;
                }
                .col-md-8{
                    z-index: 2;
                }
                .col-md-7{
                    position: absolute;
                    top: 10%;
                    right: -200px;
                    z-index: 1;
                }
            }
        }
    }
    .supporting-research{
        padding-bottom: 0 !important;
        .container {
            .row {
                .col-md-8{
                    z-index: 2;
                }
                .col-md-7{
                    position: absolute;
                    top: 10%;
                    right: -200px;
                    z-index: 1;
                }
            }
        }
        h2{
            margin-top: 60px;
        }
        .supporting-research-slogan {
            padding-top: 20px !important;
        }
    }
    .sub-footer{
        .citations {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
    .footer-logo {
        position: relative;
        &:before, &:after {
            width: 50%;
        }
    }
}
@media only screen and (max-width: 480px) {
    .button-group {
        a {
            width: 200px;
            margin-bottom: 10px;
            &:last-child {
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }
    .hero {
        &:before{
            top: -150px;
            right: 0;
            height: 500px;
            width: 300px;
        }
        &:after {
            display: none;
        }
        .plated-beans {
            position: relative;
            .container {
                padding-top: 0 !important;
                .row{
                    padding-top: 0 !important;
                    .col-md-6 {
                        padding: 0 !important;
                    }    
                }
            }
            &:after {
                display: none;
            }
        }
    }
    .health-nutrition {
        position: relative;
        .container {
            padding-bottom: 0 !important;
        }
        &:after {
            content: '';
                top: -100px;
                right: 0;
                height: 1178px;
                width: 781px;
        }
        p.fact-caption.pr-12 {
            padding-right: 0 !important;
        }
        .health-nutrition-graph {
            width: 100%;
            height: auto;
        }
        .health-nutrition-slogan{
            padding-top: 40px !important;
            padding-bottom: 0px !important;
        }
    }
    .plant-based {
        position: relative;
        &.plant-clip {
            clip-path: inset(0 0 0 0 round 0 128px 0 0);
        }
        .plant-based-slogan{
            padding-top: 10px !important;
            padding-bottom: 40px !important;
        }
        p.title.pt-120 {
            padding-top: 20px !important;
        }
        .plant-based-graph {
            width: 100%;
            height: auto;
        }
    }
    .display-image {
        display: none;
    }
    .versatility {
        padding-top: 0 !important;
        .versatility-slogan {
            padding-top: 40px;
        }
        &:before {
            display: none;
        }
        img.versatility-graph {
            height: auto;
            width: 100%;
        }
    }
    .facts {
        .fact {
            margin-bottom: 20px;
            .fact-caption{
                padding-left: 0px;
                padding-right: 0px;
            }
            &:after{
                display: none;
            }
        }
    }
    .recipes {
        position: relative;
        background-image: url('../images/orange-blob.svg');
        background-position-x: -30px;
        background-position-y: -340px;
        background-repeat: no-repeat;
        background-size: inherit;
        .recipe-image {
            margin-top: -100px;
            margin-right: 0px;
        }
        &:before{
            display: none;
        }
    }
    .infographics-facts {
        .container {
            padding-top: 0 !important;
        }
        .row {
            div:nth-child(1) {
                -webkit-box-ordinal-group: 14;
                -ms-flex-order: 13;
                order: 13;
            }
        }
    }
    .supporting-research{
        padding-bottom: 0 !important;
        h2{
            margin-top: 60px;
        }
        .supporting-research-slogan {
            padding-top: 20px !important;
        }
    }
    .sub-footer{
        padding-right: 0 !important;
        padding-left: 0 !important;
        .citations {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
    .footer-logo {
        position: relative;
        &:before, &:after {
            width: 35%;
        }
    }
}